@theme {
  --color-amethyst-50: #faf5ff;
  --color-amethyst-100: #f3e8ff;
  --color-amethyst-200: #e8d5ff;
  --color-amethyst-300: #d7b5fd;
  --color-amethyst-400: #be85fb;
  --color-amethyst-500: #a85cf6;
  --color-amethyst-600: #9034e9;
  --color-amethyst-700: #7b23cd;
  --color-amethyst-800: #6822a7;
  --color-amethyst-900: #561d86;
  --color-amethyst-950: #390863;
}
