@theme {
  --color-auburn-50: #fcf4f4;
  --color-auburn-100: #fae6e6;
  --color-auburn-200: #f7d1d1;
  --color-auburn-300: #f1b0b0;
  --color-auburn-400: #e68383;
  --color-auburn-500: #d85b5b;
  --color-auburn-600: #c43e3e;
  --color-auburn-700: #a43131;
  --color-auburn-800: #932f2f;
  --color-auburn-900: #722a2a;
  --color-auburn-950: #3d1212;
}
