@theme {
  --color-aurora-50: #fcf7fc;
  --color-aurora-100: #f7eff8;
  --color-aurora-200: #eedef0;
  --color-aurora-300: #debcdf;
  --color-aurora-400: #d1a1d1;
  --color-aurora-500: #ba7abb;
  --color-aurora-600: #9d5c9c;
  --color-aurora-700: #814a7f;
  --color-aurora-800: #6a3e68;
  --color-aurora-900: #593657;
  --color-aurora-950: #371b35;
}
