@theme {
  --color-canada-red-50: #fcf4f4;
  --color-canada-red-100: #fae6e6;
  --color-canada-red-200: #f7d1d1;
  --color-canada-red-300: #f1b0b0;
  --color-canada-red-400: #e68383;
  --color-canada-red-500: #d85b5b;
  --color-canada-red-600: #c43e3e;
  --color-canada-red-700: #a43131;
  --color-canada-red-800: #932f2f;
  --color-canada-red-900: #722a2a;
  --color-canada-red-950: #3d1212;
}
