@theme {
  --color-cerulean-50: #effafc;
  --color-cerulean-100: #d5f1f8;
  --color-cerulean-200: #b1e3f0;
  --color-cerulean-300: #7bcde5;
  --color-cerulean-400: #3daed3;
  --color-cerulean-500: #2397c0;
  --color-cerulean-600: #1f759b;
  --color-cerulean-700: #1f5f7f;
  --color-cerulean-800: #224f68;
  --color-cerulean-900: #204259;
  --color-cerulean-950: #102b3c;
}
