@theme {
  --color-charcoal-50: #f6f6f6;
  --color-charcoal-100: #e7e7e7;
  --color-charcoal-200: #d1d1d1;
  --color-charcoal-300: #b0b0b0;
  --color-charcoal-400: #888888;
  --color-charcoal-500: #6d6d6d;
  --color-charcoal-600: #5d5d5d;
  --color-charcoal-700: #4f4f4f;
  --color-charcoal-800: #454545;
  --color-charcoal-900: #3d3d3d;
  --color-charcoal-1000: #272727;
  --color-charcoal-1050: #141414;
}
