@theme {
  --color-copper-50: #f8f5f2;
  --color-copper-100: #ece1d9;
  --color-copper-200: #d7c1b0;
  --color-copper-300: #c29f87;
  --color-copper-400: #b4856b;
  --color-copper-500: #9f6854;
  --color-copper-600: #93584c;
  --color-copper-700: #7b4642;
  --color-copper-800: #663b3a;
  --color-copper-900: #553232;
  --color-copper-950: #2f1919;
}
