@theme {
  --color-emerald-50: #f1fcf3;
  --color-emerald-100: #defae4;
  --color-emerald-200: #bff3ca;
  --color-emerald-300: #8ce9a2;
  --color-emerald-400: #53d571;
  --color-emerald-500: #2ab34b;
  --color-emerald-600: #1f9a3c;
  --color-emerald-700: #1b7a33;
  --color-emerald-800: #1b602c;
  --color-emerald-900: #184f27;
  --color-emerald-950: #072c11;
}
