@theme {
  --color-lake-50: #f1f8fa;
  --color-lake-100: #dcedf1;
  --color-lake-200: #bedce3;
  --color-lake-300: #91c3cf;
  --color-lake-400: #579eb1;
  --color-lake-500: #418599;
  --color-lake-600: #396d81;
  --color-lake-700: #335b6b;
  --color-lake-800: #314d59;
  --color-lake-900: #2c414d;
  --color-lake-950: #192a33;
}
