@theme {
  --color-linen-50: #fbf6f1;
  --color-linen-100: #f6ece3;
  --color-linen-200: #ead2be;
  --color-linen-300: #dcb295;
  --color-linen-400: #cd8d6a;
  --color-linen-500: #c2724d;
  --color-linen-600: #b45e42;
  --color-linen-700: #964a38;
  --color-linen-800: #793e33;
  --color-linen-900: #62352c;
  --color-linen-950: #341916;
}
