@theme {
  --color-maritime-50: #f4f7f9;
  --color-maritime-100: #eaf0f5;
  --color-maritime-200: #d9e3ec;
  --color-maritime-300: #c1d0e0;
  --color-maritime-400: #a8b8d1;
  --color-maritime-500: #91a1c3;
  --color-maritime-600: #7a88b1;
  --color-maritime-700: #707ba0;
  --color-maritime-800: #555e7e;
  --color-maritime-900: #495166;
  --color-maritime-950: #2b2f3b;
}
