@theme {
  --color-nickel-50: #f7f7f6;
  --color-nickel-100: #e5e4e2;
  --color-nickel-200: #cbc9c4;
  --color-nickel-300: #a9a79f;
  --color-nickel-400: #8c8b81;
  --color-nickel-500: #6c6a60;
  --color-nickel-600: #55544c;
  --color-nickel-700: #46463f;
  --color-nickel-800: #3a3a35;
  --color-nickel-900: #33322e;
  --color-nickel-950: #1b1b18;
}
