@theme {
  --color-pine-50: #f2f7f3;
  --color-pine-100: #dfece0;
  --color-pine-200: #c0dac3;
  --color-pine-300: #86b58f;
  --color-pine-400: #699e75;
  --color-pine-500: #488157;
  --color-pine-600: #356643;
  --color-pine-700: #2a5236;
  --color-pine-800: #24412d;
  --color-pine-900: #1e3626;
  --color-pine-950: #101e15;
}
