@theme {
  --color-sienna-50: #fff8ed;
  --color-sienna-100: #feefd6;
  --color-sienna-200: #fcdaac;
  --color-sienna-300: #fac077;
  --color-sienna-400: #f79a40;
  --color-sienna-500: #f5872c;
  --color-sienna-600: #e56211;
  --color-sienna-700: #be4a10;
  --color-sienna-800: #973b15;
  --color-sienna-900: #7a3214;
  --color-sienna-950: #421708;
}
