@theme {
  --color-steel-50: #f7f8f7;
  --color-steel-100: #f1f2f1;
  --color-steel-200: #e4e6e6;
  --color-steel-300: #ced3d2;
  --color-steel-400: #afb7b6;
  --color-steel-500: #959f9d;
  --color-steel-600: #7a8483;
  --color-steel-700: #66706f;
  --color-steel-800: #565e5e;
  --color-steel-900: #4b5050;
  --color-steel-950: #292e2e;
}
